.introDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profilePicture {
  width: 20%;
}
.profilePicture img {
  margin-top: 45px !important;
  border-radius: 5px;
  -webkit-box-shadow: 9px 9px 7px -3px rgba(0, 0, 0, 0.36);
  box-shadow: 9px 9px 7px -3px rgba(0, 0, 0, 0.36);
}

.introCode {
  width: 80%;
}

.contactDetails {
  display: block;
  align-content: center;
  justify-content: center;
  text-align: left;
  margin-left: 25%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flexImage {
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.techIcon {
  height: 55%;
}

.elastic {
  padding-bottom: 10px;
}

.githubFork {
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubFork img {
  width: 45px;
  height: 70px;
}
